:root {
  --nav-height: 10vh;
  --footer-height: 15vh;
  --radius: 30px;
  --shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  --color-blu: #27348b;
  --color-red: #C12235;
  --color-gray: #293133;
  --color-white: #fff;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Navbar */
.topnav {
  height: var(--nav-height);
  background-color: var(--color-blu);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  margin: 2vh;
  z-index: 1;
  overflow: hidden;
  border-radius: var(--radius);
}


.logo {
  display: inline;
  height: calc(var(--nav-height) - 1vh);
  margin: .5vh 1vh;
}

.nav-right {
  float: right;
}

.nav-right a, .hamburger {
  height: var(--nav-height);
  line-height: var(--nav-height);
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 0 20px;
  text-decoration: none;
  font-size: 1.5em;
}

.nav-right a:hover {
  background-color: #919bd1;
  color: black;
}

.topnav .hamburger {
  display: none;
}

@media screen and (max-width: 1080px) {
  .nav-right {
    display: none;
    float: none;
  }

  .topnav .hamburger {
    display: block;
    float: right;
  }

  .topnav.responsive {
    height: 100%;
  }

  .topnav.responsive .nav-right {
    display: block;
  }

  .topnav.responsive .nav-right a {
    width: 100%;
  }
}

/* Footer */
footer {
  text-align: center;
  background-color: #293133;
  color: white;
  position: absolute;
  /* Footer at botton in the homepage
  bottom: -30vh;*/
  height: var(--footer-height);
  width: 100vw;
  max-width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
  max-height: var(--footer-height);
}

footer a:hover {
  color: #919bd1;
  text-decoration: none;
}

/* Homepage */
.grid-container {
  width: 100%;
  min-height: 75vh;
  display: grid;
  grid-template-areas:
    'slideshow news'
    'map  news';
  gap: 1.5vw;
  justify-content: center;
  padding: 1vw;
}

.grid-container>div {
  background-color: lavender;
  border-radius: var(--radius);
}

h1 {
  padding: 0;
  margin: 1em;
}

h4 {
  padding: 0;
  margin: .5em;
}

/* Slideshow */
.slideshow {
  grid-area: slideshow;
  position: relative;
  width: 60vw;
  height: auto;
}

.mySlides {
  display: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--radius);
  max-width: 60vw;
}

.mySlides img {
  width: 60vw;
  border-radius: var(--radius);
}

.numbertext {
  color: var(--color-white);
  position: absolute;
  left: 0;
  bottom: 0;
  padding: .5em;
  font-size: 1.5em;
}

/* Map */
.map {
  grid-area: map;
  width: 60vw;
}

#map_dmi{
  width: 60vw;
  height: 100%;
  border: none;
  border-radius: var(--radius);
}

/* Notizie */
.news {
  grid-area: news;
  width: 35vw;
  overflow: scroll;
  max-height: 150vh;
  border-radius: var(--radius);
}

.notizia{
  width: 96%;
  background-color: var(--color-white);
  border-radius: var(--radius);
  text-align: justify;
  word-wrap: break-word;
  font-size: 1.25em;
  margin: 2%;
  padding: 1em;
}

@media screen and (max-width: 1080px) {
  .grid-container {
    grid-template-areas:
      'news'
      'slideshow'
      'map';
  }

  .slideshow, .mySlides, .mySlides img, .news, #map_dmi {
    width: 96vw;
    margin: 0;
  }
}
