.logo {
    position: absolute;
    top: 50%; /* Sposta l'immagine al centro verticalmente */
    left: 16px; /* Imposta la distanza dal bordo sinistr */
    transform: translateY(-50%); /* Centra verticalmente */
    height: 50px; /* Imposta l'altezza (grandezza) */
}

.dropdown-menu {
    display: block; /* Nascondi il menu a discesa (default) */
    position: absolute;
    background-color: var(--color4);
    padding: 10px;
    list-style-type: none; /* Rimuovi i punti elenco del menu a tendina */
    visibility: hidden; /* Nascondi il menu a tendina di default */
    opacity: 0; /* Imposta l'opacità del menu a tendina a 0 di default */
    max-height: 0; /* Imposta l'altezza massima del menu a tendina a 0 di default */
    overflow: hidden; /* Nascondi il contenuto in eccesso del menu a tendina */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out; /* Aggiungi una transizione per l'animazione */
}

.dropdown:hover .dropdown-menu {
    visibility: visible; /* Mostra il menu a tendina quando il puntatore del mouse è sopra l'elemento dropdown */
    opacity: 1; /* Imposta l'opacità del menu a tendina a 1 durante l'animazione */
    max-height: 150px; /* Imposta l'altezza massima desiderata per il menu a tendina */
}

body {
    margin: 0; /* Rimuove i margini predefiniti dal body (credo boh) */
}

header {
    position: relative; /* Perché si */
    background-color: var(--color4);
    padding: 0; /* Rimuove il padding predefinito dall'header (mi fido) */
    height: 50px
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--color4); /* Imposta il colore dello sfondo dell'header */
    text-align: right;
}

ul.menu li {
    display: inline-block;
}

ul.menu li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
