:root {
  --nav-height: 10vh;
}

body {
  margin: 0; /* Rimuove i margini predefiniti dal body (credo boh) */
  margin-top: var(--nav-height); /* Spazio per la navbar */
  /* TODO: font-family: */
}

nav {
  height: var(--nav-height);
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #26358c;
  z-index: 1;
}

a {
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
}

.logo {
  position: absolute;
  left: 1vw; /* Imposta la distanza dal bordo sinistro */
  top: 5%; /* Sposta l'immagine al centro verticalmente */
  height: 90%; /* Adatta l'immagine al container */
}

.menu {
  margin: 0;
  padding: 0;
  text-align: right;
}

.sezione {
  width: 10vw;
  height: var(--nav-height);
  line-height: var(--nav-height);
  display: inline-block;
  text-align: center;
}

.sezione:hover .nav-voce {
  color: #2AADDE;
  line-height: calc(var(--nav-height) - 1vh); /* Se non c'è questa proprietà, gli altri elementi scendono */
}

.dropdown-menu {
  visibility: hidden; /* Nascondi il menu a tendina di default */
  opacity: 0; /* Imposta l'opacità del menu a tendina a 0 di default */
  transition: opacity 0.3s, visibility 0.3s; /* Aggiungi una transizione per l'animazione */
  background-color: #26358c;
  width: 10vw;
  line-height: 4rem;
  position: absolute;
  top: var(--nav-height); 
  max-height: 100vh; /* L'altezza massima può essere quanto vogliamo */
}

.dropdown:hover .dropdown-menu {
  visibility: visible; /* Mostra il menu a tendina quando il puntatore del mouse è sopra l'elemento dropdown */
  opacity: 1; /* Animazione fluida */
}

.dropdown-menu a:hover {
  text-decoration: underline;
}

/*SLIDE SHOW*/

.titolo1 {
  padding: 3%;
  text-decoration: none;
  color: #000000;
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
  padding: 3%;
  max-width: 60%;
}

.slide-wrapper{
  position: absolute;
  max-width: 60%;
  margin: 0%;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /*x tells css to snap to the x axes*/
  /*mandatori is a sctrictness value that forces the behaviour to snap to the next value*/
  scroll-behavior: smooth;
  box-shadow: 0 1.5% 3% -0.75% hsla(0, 0%, 0%, 0.25);
  border-radius: 0.1%;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 5px;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 10px;
  height:10px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover{
  opacity: 1;
}

/*Css portfolio*/

* {
  transition: .33s ease all;
  box-sizing: border-box;
}
html {
  font-family: 'Questrial', sans-serif;
  box-sizing: border-box;
}
span {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: #C12235;
  margin-bottom: 30px;
}



div.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin:30px;
}
div.container-card {
  background-color: white;
  border:0px;
  border-radius:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);

}
div.container-card:hover {
  background-color: #2AADDE;
  transform:scale(1.1);
}


h1.h-portfolio {
  font-weight: 600;
  font-size: 36px;
  margin: 0 0 15px;
}
p.p-potfolio {
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 30px 0;
}
a.link-portfolio {
  text-decoration: none;
  text-transform: uppercase;
  color: #C12235;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 5px;
  left: -5px;
}


div.imag-conarg {
  background: url(/img/portfolio/conarg.png);

}
div.imag-krabs {
  background: url(/img/portfolio/krabs.png);
}
div.imag-frantoio {
  background: url(/img/portfolio/frantoio.png);
}

div.imag {
  height: 300px;
  width: 100%;
  margin-top:1%;
  margin-bottom:1%;
  margin-left:1%;
  background-position: center;
  background-size: cover;
}


div.text-container-card {
  margin: 60px 45px 55px;
}
@media screen and (min-width: 768px) {
  div.container-card {
    flex-direction: row;
    width: 100%;
  }
div.imag {
    height: 420px;
    min-width: 360px;
  }
 div.text-container-card {
    margin: 0 60px;
    max-width: 660px;
  }
}
@media screen and (min-width: 1024px) {
  div.container-card {
    max-width: 1200px;
  }
}
@media scree and (max-width: 1366px){
  .sezione {
    width: 12vw;
    height: var(--nav-height);
    line-height: var(--nav-height);
    display: inline-block;
    text-align: center;
  }
}
